*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
test-output
target/

*.log
hsf.configuration
#hot deploy 
.settings
.#webclasspath
.tomcatplugin
